.app {
  max-width: 1400px;
  margin: 5rem auto;
  height: calc(100vh - 50px);
}

.app__posts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
footer {
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 3px 50px;
  border-radius: 5px;
}
footer h3,
footer p {
  color: #6c757d;
}
footer p {
  height: 20px;
}
